@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");

.container {
  padding-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo {
  width: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.logo img {
  height: 220px;
}

.logo p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-style: italic;
  letter-spacing: 0.3rem;
  font-size: 2.2rem;
  color: white;
  text-align: center;
}

.linkButton {
  font-family: Arial, Helvetica, sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  cursor: pointer;
  border: solid 2px #ffffff;
  background-color: #f79336;
  margin-top: 50px;
  padding: 20px;
  border-radius: 11px;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  font-weight: 650;
}

.linkButton:active {
  cursor: pointer;
  border: solid 2px #ffffff;
  background-color: #11bf11;
  margin-top: 50px;
  padding: 20px;
  border-radius: 11px;
}


@media (min-width: 300px) and (max-width: 600px) {

}

@media (min-width: 999px) {

}
