@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");

.container {
  padding-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
    font-family: Arial, Helvetica, sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.logo {
  width: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.logo h1 {
  font-weight: 600;
  font-style: italic;
  letter-spacing: 0.4rem;
  font-size: 1.9rem;
  color: white;
  text-align: center;
}

.logo img {
  height: 220px;
}

.logo p {
  padding-top: 4px;
  font-weight: 600;
  font-style: italic;
  letter-spacing: 0.24rem;
  font-size: 2rem;
  color: white;
  text-align: center;
}

.linkButton {
  font-family: Arial, Helvetica, sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  cursor: pointer;
  border: solid 2px #ffffff;
  background-color: #f79336;
  margin-top: 25px;
  margin-bottom: 29px;
  padding: 20px 24px;
  border-radius: 11px;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  font-weight: 650;
}

.linkButton:active {
  cursor: pointer;
  border: solid 2px #ffffff;
  background-color: #11bf11;
  margin-top: 25px;
  margin-bottom: 29px;
  padding: 20px 24px;
  border-radius: 11px;
}

.footer {
  opacity: 0.95;
  position: absolute;
  bottom: 0;
  padding: 15px 0px;
}

.footer p {
  font-weight: 500;
  font-size: 1.4rem;
  initial-letter: .1rem;
  text-align: center;
  color: #ffffff;
}

.footer span {
  font-weight: 700;
  font-size: 1.4rem;
  initial-letter: .1rem;
  text-align: center;
  color: #ffffff;
}

@media (min-width: 300px) and (max-width: 600px) {
  
}

@media (min-width: 999px) {
  
}
