@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("../../assets/img/image-background.jpg");
  background-size: cover;
  background-position: center center;
  overflow: hidden;
}

.logo {
  width: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.logo img {
  height: 200px;
}

.logo p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-style: italic;
  letter-spacing: 0.3rem;
  font-size: 2.2rem;
  color: white;
  text-align: center;
}

.header {
  position: absolute;
  top: 0;
  padding: 0px 25px 0px 18px;
  z-index: 2;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.207);
  box-shadow: 0px 0px 12px 1px black;
  border-bottom: solid 2px white;
}

.acaiBeats {
  display: flex;
  height: 50px;
  z-index: 3;
  position: relative;
  flex-direction: column;
  font-size: 2.5rem;
  color: #fff;
  letter-spacing: 0.7rem;
  font-family: Shrikhand;
}

.acaiBeats h1 {
  position: absolute;
  transform: translate(-2px, 0px);
  font-size: 2.5rem;
  color: #fff;
  letter-spacing: 0.3rem;
  font-family: Shrikhand;
}

.acaiBeats p {
  transition: all 1s ease;
  position: absolute;
  bottom: 0;
  transform: translate(1px, 5px);
  font-size: 2.5rem;
  color: rgb(248, 215, 252);
  letter-spacing: 0.7rem;
  font-family: Shrikhand;
}

.mobileMenu {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 30px;
  height: 30px;
  z-index: 122;
  position: absolute;
  right:20px;
  top: 17px;
}

.mobileMenu span {
  transition: 2.2s;
  z-index: 122;
  border-radius: 60px;
  height: 35px;
  width: 37px;
  background-color: rgb(255, 255, 255);
}

.navMobile {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 8rem;
  padding: 90px 40px;
  position: absolute;
  z-index: 2;
  right: 0;
  height: 100vh;
  width: 50%;
  transform: translate(208px, 738px);
  transition: 2s;
  background-color: #00000000;
  
  a{
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: .2rem;
    font-weight: 500;
    font-size: 1.8rem;
    opacity: 0;
    color: rgba(255, 255, 255, 0);
  }
  
}


.navMobile.active {
  transform: translate(0px, 0px);
  background-color: #b579ff;
  a {
    opacity: 1;
    color: rgb(255, 255, 255);
  }
}

.mobileMenu.active .line1 {
  background-color: #f79336;
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobileMenu.active .line2 {
  opacity: 0;
}
.mobileMenu.active .line3 {
  background-color: #ff912b;
  transform: rotate(45deg) translate(-8px, -7px);
}


.button {
  cursor: pointer;
  border: solid 2px #ffffff;
  background-color: #f79336;
  margin-top: 50px;
  padding: 20px;
  border-radius: 11px;
}

.button a {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  font-weight: 650;
}

/* 
@media (min-width: 300px) and (max-width: 600px) {

*/

@media (min-width: 999px) {
  .acaiBeats p {
    color: rgb(197, 8, 218);
  }
}
