@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");

.header {
  position: absolute;
  top: 0;
  padding: 0px 25px 0px 18px;
  z-index: 2;
  width: 100%;
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.207);
  box-shadow: 0px 0px 12px 1px black;
  border-bottom: solid 2px white;
}

.acaiBeats {
  display: flex;
  height: 50px;
  z-index: 3;
  position: relative;
  flex-direction: column;
  font-size: 2.5rem;
  color: #fff;
  letter-spacing: 0.7rem;
  font-family: Shrikhand;
}

.acaiBeats h1 {
  position: absolute;
  transform: translate(-2px, 0px);
  font-size: 2.5rem;
  color: #fff;
  letter-spacing: 0.3rem;
  font-family: Shrikhand;
}

.acaiBeats p {
  transition: all 1s ease;
  position: absolute;
  bottom: 0;
  transform: translate(1px, 5px);
  font-size: 2.5rem;
  color: rgb(248, 215, 252);
  letter-spacing: 0.7rem;
  font-family: Shrikhand;
}

@media (min-width: 999px) {
  .acaiBeats p {
    color: rgb(197, 8, 218);
  }
}
