* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

html, body {
  height: 100%;
  overscroll-behavior: none;
}


body {
  font-size: 1.6rem;
}