:root {  
  --color-one: #380272;
  --color-two: #ff9500; 
  --color-three: #ff9504; 
  --orange: #fe7c56; 
  --purple: #681378; 
  --light-purple: #f8d7fc; 
  --brown: #641f11; 
  --green: #4d4d0d; 
  --yellow: #ffde0d; 
  --red: #cf1108; 
}
