@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");

.container {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  gap: 4rem;
  width: 100%;
  /* height: 100vh; */
  margin: auto;
  background-image: url("../../assets/img/ImageBackgroundMobile.png");
  background-size: cover;
  overflow: hidden;
  font-family:
    Arial,
    Helvetica,
    sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

.content {
  display: flex;
  gap: 1.3rem;
  flex-direction: column;
  margin: 3rem;
  width: 88%;
  text-align: center;
}

.header h1 {
  letter-spacing: 0;
  padding-bottom: 1rem;
  font-size: 1.86rem;
}
.header h2 {
  font-size: 1.3rem;
}

@media (min-width: 340px) and (max-width: 900px) {
  .container {
    /* height: 210vh; */
    background-image: url("../../assets/img/ImageBackgroundMobile.png");
    background-size: cover;
    background-position: center;
  }

  .header h1 {
    font-size: 3rem;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0;
  }

  .header h2 {
    padding-bottom: 2rem;
    font-size: 1.4rem;
  }

  .products {
    display: flex;
    gap: 4rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #ed050500;
    width: 100%;
    border: 0;
    padding: 0;
  }

  .image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    overflow: hidden;
    cursor: pointer;
    border-radius: 10px 10px 0px 0px ;
    background-color: #00000000;
    width: 230px;
    height: 340px;
    transition: all 0.5s ease-in-out;
  }

  .image img {
    border: solid 1px white;
    width: 105%;
    height: 80%;
  }

  .image a {
    border: solid 2px white;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    border-radius: 0px 0px 10px 10px;
    font-weight: 600;
    text-align: center;
    width: 100%;
    font-size: 2rem;
    height: 20%;
    padding: 10px;
    background-color: var(--purple);
  }
}

@media (min-width: 999px) {
  .container {
    height: 100vh;
    background-image: url("../../assets/img/backgroundCleanDesktop.png");
    background-size: cover;
  }

  .header h1 {
    letter-spacing: 0;
    padding-bottom: 0.7rem;
    font-size: 3.3rem;
  }

  .header h2 {
    font-size: 1.6rem;
  }

  .products {
    display: flex;
    gap: 4rem;
    justify-content: center;
    background-color: #ff00006e;
    width: 90%;
    border: 0;
    padding: 0;
  }

  .image {
    overflow: hidden;
    cursor: pointer;
    border-radius: 10px;
    border: solid 2px white;
    background-color: #000000;
    width: 200px;
    height: 300px;
    transition: all 0.5s ease-in-out;
  }

  .image img {
    width: 105%;
    height: 80%;
    transition: all 0.5s ease-in-out;
  }

  .image:hover {
    transform: scale(1.1);
  }
}
