@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #8a4a4a;
  gap: 4rem;
  position: fixed;
  width: 100%;
  z-index: 111;
}

.card {
  text-align: center;
  height: 100vh;
  position: sticky;
  top: 0px;
}

.card div + p {
  margin: 0 23px;
}

.imagem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.imagem img {
  border-radius: 20px;
  background-repeat: no-repeat;
  height: 60vh;
  width: 80%;
  margin-bottom: 0px;
  box-shadow: 0 -1px 7px 1px black;
}

.laranja,
.morango,
.uva {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 70px;
  gap: 2.8rem;
  height: 150vh;
  font-size: 20px;
  letter-spacing: 3px;
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
  border-radius: 20px;
  box-shadow: 0 -5px 20px 1px black;
}

.laranja {
  padding-top: 90px;
  background-color: rgb(207, 199, 163);
  color: rgb(118, 113, 93);
}
.morango {
  top: 30px;
  padding-top: 50px;
  background-color: #cbc371;
  color: #827d48;
}
.uva {
  top: 60px;
  padding-top: 30px;
  background-color: #5c4831;
  color: #c1a381;
}

.laranja h1:nth-child(1) {
  color: rgb(133, 128, 104);
}

.morango h1:nth-child(1) {
  color: rgb(124, 119, 68);
}

.uva h1:nth-child(1) {
  color: #9c7f5d;
}

.info {
  position: sticky;
  padding: 10px;
  width: 100%;
  text-align: left;
  border-radius: 20px;
  box-shadow: 0 -5px 20px 1px black;
  background-color: #5c4831;
  text-transform: uppercase;
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
  padding-top: 15px;
  text-align: center;
  font-size: 27px;
  color: rgb(207, 199, 163);
}
h3:nth-child(1) {
  color: rgb(207, 199, 163);
}

.spanProducts {
  text-decoration: line-through;
  color: rgb(249, 72, 72);
}
.info li {
  list-style: disc;
  list-style-position: inside;
  padding: 6px 17px;
  color: rgb(207, 199, 163);
  padding: 5px;
}

.info ul {
  font-size: 15px;
  padding: 18px 5px;
}

@media (min-width: 376px) {
  .imagem img {
    width: 96%;
  }

  .laranja,
  .morango,
  .uva {
    font-size: 24px;
    padding-top: 90px;
  }

  .morango {
    padding-top: 70px;
  }

  .uva {
    padding-top: 40px;
  }

  h2 {
    margin-top: 20px;
  }

  .info li {
    padding: 6px 0px;
  }
}

@media (min-width: 999px) {
  
  .info ul, .info li, .info h3 {
    padding-left: 10px;
  }
}
